{% extends "base.jinja" %}

{% block content %}
  <section class="game-layout">
    <div class="board-nav">
      <h1 class="game-title">{{content.game_nav.title}}</h1>
      <ul class="score-board">
        {% for score_board_details in content.game_nav.score_board %}
          <li class="score-details{% if score_board_details.class_name %} {{score_board_details.class_name}}{% endif %}"> 
            <h2 class="score-title">{{score_board_details.title}}</h2>
            <p class="score-value">{{score_board_details.value}}</p>
          </li>
        {% endfor %}
      </ul>
    </div>
    {% set board_size = content.board_size|int %}
    <div class="board-grid">
      {% for row in range(board_size) %}
        <div class="grid-row">
          {% for col in range(board_size) %}
            <div class="grid-cell"></div>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </section>
  <section class="gameover-container">
    <h2 class="gameover-title">{{content.gameover_details.title}}</h2>
    <button class="play-again-btn">{{content.gameover_details.play_again_button}}</button>
  </section>
{% endblock %}