<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2024 Game</title>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;900&display=swap" rel="stylesheet">
    <link href="{{url_for('static', filename='index.min.css')}}" rel="stylesheet">
  </head>
  <body class="body-tag">
    <div class="main-content">
      {% block content %}{% endblock %}
    </div>
    <script src="{{url_for('static', filename='index.min.js')}}"></script>
  </body>
</html>