@use 'global/global-colors' as colors;
@use 'global/global-mixins' as mixins;
@use 'global/global-vars' as vars;

.body-tag {
  background: colors.$screen-bg-color;
  font-family: vars.$font-Heebo;
  margin: 0;
  padding: 0;
}

.game-layout {
  @include mixins.flex-center(column);
  
  height: 100vh;
  row-gap: 36px;

  [data-game-over] & .board-grid {
    opacity: 0.4;
  }

  .board-nav {
    align-items: center;
    column-gap: 36px;
    display: flex;
    justify-content: space-between;
    
    .game-title {
      color: colors.$main-title-color;
      font: 900 72px/64px vars.$font-Heebo;
      margin: 0;
    }

    .score-board {
      display: flex;
      list-style-type: none;
      margin: 0;
      padding: 0;

      .score-details {
        background: colors.$board-color;
        border-radius: 5px;
        font-weight: 400;
        letter-spacing: 0.5px;
        margin: 0 6px;
        padding: 10px 20px;

        .score {
          &-title,
          &-value {
            margin: 0;
            text-align: center;
          }

          &-title {
            color: colors.$score-title-color;
            font-size: 24px;
          }

          &-value {
            color: colors.$white;
            font-size: 36px;
          }
        }
      }
    } 
  }

  .board-grid {
    background: colors.$board-color;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: vars.$board-side;
    justify-content: space-evenly;
    width: vars.$board-side;

    .grid-row {
      display: flex;
      justify-content: space-evenly;

      .grid-cell {
        @include mixins.flex-center();
        
        background: colors.$box-default-color;
        border-radius: 5px;
        height: vars.$box-side;
        position: relative;
        width: vars.$box-side;

        @for $i from 1 through 4 {
          &:nth-child(#{$i}) {
            z-index: 5-$i;
          }
        }
      }
    }
  }
}

.gameover-container {
  display: none;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100vw;

  [data-game-over] & {
    @include mixins.flex-center(column);
  }
}